.forget-container {
    min-height: 94.2vh;
    background:white;
    overflow-x: hidden;
}

.forget-container .form-container{
    box-shadow: rgba(149, 157, 165, 10) 0px 8px 24px;
    border-radius: 20px;
    transition: all 2s;
}




.forget-container form {
    font: 500 20px/24px Google Sans Text,Arial,Helvetica,sans-serif;
}

.forget-container .fpassword {
   color: blue !important;
}

.form-check-input{
    margin-top: 0 !important;
}

.w-0{
    width: 0;
}



@media screen and (max-width: 1280px) {
    .forget-container{
        box-sizing: border-box;
        padding: 1rem;
    }
  .forget-container > div{
    width: 50% !important;
  }
}

@media screen and (max-width: 991px) {
    .forget-container{
        box-sizing: border-box;
        padding: 1rem;
    }
  .forget-container > div{
    width: 100% !important;
  }
  .forget-container > div form {
    padding-inline: 1rem !important;
  }
}

@media screen and (max-width: 768px) {
    .forget-container{
        box-sizing: border-box;
        padding: 1rem;
    }
  .forget-container > div{
    width: 100% !important;
  }

  /* .forget-container > div form {
    padding-inline: 1rem !important;
  } */
}